body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.tsqd-open-btn-container {
  bottom: initial !important;
  top: 5px !important;
}